# Backend Server
fastapi==0.104.1
uvicorn==0.24.0
python-dotenv==1.0.0

# Database
pymongo==4.6.0

# For making API calls
requests==2.32.4
httpx==0.28.1

# Utilities
cachetools==5.3.3

# Google AI (with specific versions to speed up installation)
google-generativeai==0.5.4
google-api-python-client==2.128.0
google-auth-httplib2==0.2.0
google-auth==2.29.0